
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navSection{
  border: 1px solid red;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(233, 140, 19);
  align-items: center;
  color: #fff;
  padding: 0 20px;
  font-size: large;
}
.collectionsection{
  display: flex;
}
.sideBarSection{
  width: 100%;
  max-width: 15%;
  height: 90vh;
  padding-top: 10px;
  background-color: #4b4848;
}
.sideBarSection ul li{
  list-style: none;
  margin-bottom: 20px;
  font-weight:500;
  font-size: medium;
  cursor: pointer;
}
.loginSection,.registerSection{
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.authForm{
  width: 100%;
  max-width: 50%;
  border: 1px solid rgb(54, 51, 51);
  margin-top: -730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px 0;
}
.authForm input{
  width: 100%;
  max-width: 55%;
  height: 1.4rem;
  margin: 10px;
}
.authForm label{
  width: 100%;
  max-width: 55%;
  font-weight: 400;
}

/* firm section */
.firmSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -490px;
  
  
}

.tableForm {
  padding: 20px 0 !important;
  width: 100%;
  max-width: 50%;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid gray;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.tableForm input {
  width: 100%;
  max-width: 55%;
  height: 35px;
  max-width: 85%;
  margin-bottom: 10px;
}

.tableForm label {
  width: 100%;
  max-width: 85%;
  font-weight: 600;
}

/* check box inputs */

.checkInp {
  width: 100%;
  max-width: 85%;
  display: flex;
}

.checkInp label {
  width: 20%;
}

.inputsContainer {
  width: 100%;
  display: flex;
}

.checboxContainer {
  width: 100%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checboxContainer label {
  width: 100%;
}

.checboxContainer input {
  margin-left: -180px;
}

.checboxContainer label {
  font-size: small;
}

.regBoxContainer label {
  font-size: small;
}

/* products table */

.productSection {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 210px !important;
  margin-top: -600px;
}

.product-table {
  width: 80vw;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  border: 1px solid rgb(128, 128, 128);
  padding: 8px;
}

.product-table th {
  text-align: left;
  background-color: rgb(47, 77, 212);
  color: white;
}

.deleteBtn {
  color: red;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


/* not found */

.errorSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorSection h1 {
  font-size: 4rem;
}

h3 {
  color: #D7263D;
}

